@model IEnumerable<Settimana_19_Esercizio_Unico.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h3 class="fs-2 fw-lighter">Lista Ordini</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteUtili)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteUtili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaso)
            </td>
            <td>
                @if (!item.Evaso)
                {
                    @Html.ActionLink("Evadi Ordine", "EvadiOrdine", "Ordini", new { id = item.IdOrdine }, new { @class = "btn btn-warning" })
                }
                @Html.ActionLink("Dettagli", "Details", "Ordini", new { id = item.IdOrdine }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Elimina", "Delete", "Ordini", new { id = item.IdOrdine }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
