@model Settimana_19_Esercizio_Unico.Models.Articoli

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-6">

        <h3 class="display-6">Dettagli Articolo:</h3>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>

                <dd>
                    <img class="w-25" alt="immagine prodotto" src="~/ImmaginiProdotti/@Model.Foto" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Prezzo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prezzo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TempoConsegna)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TempoConsegna)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ingredienti)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ingredienti)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Modifica", "Edit", "Articoli", new { id = Model.IdArticolo }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Ritorna alla lista", "Index", "Articoli", new { area = "" }, new { @class = "btn btn-outline-primary" })
        </p>

    </div>
    <div class="col-4">
        <div class="rounded-5 overflow-hidden mx-auto">
            <img class="img-fluid" alt="logo pizzeria in forno" src="~/ImmaginiProdotti/Pizzeria_Logo.png" />
        </div>
    </div>
</div>